<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.creacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CREACION">
        <activity
            android:name=".RegistrarCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarClaveActivity"
            android:exported="false" /> <!-- Pantalla de bienvenida (Splash) -->
        <activity
            android:name=".BienvenidaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Pantalla principal -->
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
    </application>

</manifest>